*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    color: aliceblue;
    background-color: black;
}
.btn-agregar{
    display: flex;
    justify-content: center;

}
.boton-agregar{
    width: 40%;
    padding: 10px 0px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color:rgb(1, 61, 110);
    border: 0px;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgb(131, 129, 129);
}

.lista{
    padding: 10px 0px;
    margin-top: 60px;
}
.lista ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.lista ul li{
    list-style: none;
    padding: 10px 10px;
    margin: 5px 0px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
}
.item{
    width: 93%;
    font-size: 1.2em;
}
.botones{
    padding: 10px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}
.btn-editar{
    background-color: rgb(1, 61, 110);
}
.btn-validar{
    background-color: green;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.form-input{
    width: 45%;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    border: 1px solid rgb(131, 129, 129);
}
.form-btn{
    padding: 15px;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(31, 190, 116);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
label{
    font-size: 1.2em;
}