<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body >
    <div id="app">
            <header class="header">
                    <h1>Task Manager</h1>
                </header>
                <section class="lista" v-if="!form_active">
                    <div class="container">
                        <div class="btn-agregar">
                            <button class="boton-agregar" @click="show_form"><i class="fa fa-plus-circle" aria-hidden="true"> Agregar</i></button>
                        </div>
                    <ul>
            
                        <li v-for="task in tasks"><div class="item">{{task.task}}</div> 
                            <div>
                                <button class="botones" @click="edit(task)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> 
                                <button class="botones" @click="validate(task)"><i class="fa fa-check-circle" :style="task.active?'color:green':''" aria-hidden="true"></i></button>
                          </div>
                        </li>
                  
                    </ul> 
                    </div>
                </section>
                <section class="formulario" v-else>
                    <div class="container">
                        <div class="form">
                        <label>Nombre de la tarea:</label>
                        <input type="text" class="form-input" v-model="form.task" name="nombretarea">
                         <button class="boton-agregar" @click="add"><i class="fa fa-plus-circle" aria-hidden="true"> Agegar</i></button>
                        </div>   
                    </div>
                </section>
                <footer></footer>
    </div>
    
    <script>
        var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    form_active:false,
    form:{
        task:"",
        active:true
    },
    tasks:[
{
    task:"primera",
    active:true
},
{
    task:"segunda",
    active:false
},
{
    task:"tercera",
    active:true
}
    ]
  },
  methods:{
      show_form(){
          console.log("show form")
          this.form_active = true;
      },
     add(){
         console.log("add", this.form)
         this.tasks.push({active: this.form.active, task:this.form.task});
         this.form.task = "";
         this.form_active = false;
     },
     edit(item, index){
         console.log("edit")
         this.form_active = true;
         this.form = item;
     },
     validate(item){
         console.log("validate")
        item.active = !item.active;
     },
     update(){
        console.log("update")
     }

    }
})
    </script>
</body>
</html>